:root {
  --background: #ede9fe;
  --appBackground: #faf5ff;
  --bigTexColor: #6d28d9;
  --btnColorSoft: #38bdf8;
  --btnColorStrong: #2563eb;
  --succesColor: #22c55e;
  --errorColor: #ef4444;
  --warningColor: #f59e0b;
  --textColor: #1f2937;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
  height: 100vh;
  background: var(--appBackground);
  color: var(--textColor);
}

.auth {
  background: var(--background);
}

.kpi-blue {
  background: #e0f2fe;
}

.kpi-green {
  background: #dcfce7;
}

.kpi-yellow {
  background: #fef9c3;
}

.kpi-red {
  background: #fee2e2;
}

input.invalid,
select.invalid,
textarea.invalid {
  border: 1px solid var(--errorColor);
}

.error small {
  color: var(--errorColor);
  font-size: 0.8rem;
}